body {
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
	background-color: #FFC977;
}
.nav {
	background-color: #FF9900;
	width: 75px;
	height: 40px;
	font-size: medium;
	border: 1px solid #C14E00;
	top: 150px;
	position:fixed;
	z-index: 99;
	text-align: center;
}
.nav-left {
	left:0px;
	line-height:40px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}
.nav-right {
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	right: 0px;
	line-height: 40px;
}

.nav-content {

}
.header {
	width: 100%;
	height:50px;
	text-align: center;
	background: -moz-linear-gradient(rgb(255,255,255), rgb(255, 215, 155)) repeat scroll 0% 0% transparent;
	border-bottom: 1px solid rgb(255, 102, 0);
}
.header .container {
	margin:0pt auto;
	width: 200px;
}

.footer {
	width: 100%;
	height: 100px;
}


.clear {
	clear:both;
}
.clearfix {
	display:block;
}
ul {
	padding: 20px;
}
li {
	border-radius: 10px;
	border: 1px solid #FF6600;
	padding: 10px;
	background: #FF9900;
	margin: 5px 0 5px 0;
	height: 75px;
}


.event {
	
}
.event-picture {
	float: left;
	width: 75px; /*Width of left column*/
	height:75px;
	margin-left: -100%;
	background:black;
}

.event-description-wrapper {
	float: left;
	width: 100%;
}
.event-description {
	margin-left: 75px; /*Set left margin to LeftColumnWidth*/
}

.innertube{
	margin: 10px; /*Margins for inner DIV inside each column (to provide padding)*/
	margin-top: 0;
}
#event-info {
	
}
#event-details {
	text-align:right;
	color:#CC3300;
}


