/*
 * Base CSS
 */

body {
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d60000), color-stop(50%,#b20b00), color-stop(100%,#770000));
	font-family: 'Segoe UI', Tahoma, Helvetica;
	font-size: 14px;
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
	margin: 10px;
	padding: 0;
}

/* 
 * Header Title CSS
 */

#header {
	display: block;
	height: 44px;
	padding: 12px 10px;
}

#header img#logo {
	float: left;
}

#header img#fbPicture {
	float: right;
}

#clear {
	clear: both;
}

h2 {
	margin: 12px;
	text-align: left;
}

/*
 * Button CSS
 */

ul#connect li a {
	-webkit-border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
	-webkit-border-bottom-left-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
	background: url(../img/chevron.png) right center no-repeat;
	background-color: #EEEEEE;
	border: solid 1px #999999;	
	color: #000000;
	display: block;
	font-size: 17px;
	padding: 12px 10px;
	text-decoration: none;
}

ul#connect li a:hover {
	background-color: #CCCCCC;
	color: #000000;
}


/* 
 * Link and Info CSS
 */
 
ul.link li:first-child,
ul.info li:first-child {
	-webkit-border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
	background-color: #000000;
	border: 1px solid #999999;
	color: white;
	display: block;
	font-size: 14px;
	margin-bottom: -1px;
	padding: 0px 10px;
}

ul.link li a {
	background: url(../img/chevron.png) right center no-repeat;
}

ul.link li a, ul.info li {
	background-color: #EEEEEE;
	border: 1px solid #999999;
	color: #222222;
	display: block;
	font-size: 17px;
	margin-bottom: -1px;
	padding: 12px 10px;
	text-decoration: none;	
}

ul.link li a:hover {
	background-color: #CCCCCC;
	color: #000000;
}

ul.link li:last-child a,
ul.info li:last-child {
	-webkit-border-bottom-left-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;	
}


/*
 * Form CSS
 */

ul.form li:first-child {
	-webkit-border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
	background-color: #000000;
	border: 1px solid #999999;
	color: #FFFFFF;
	display: block;
	font-size: 14px;
	margin-bottom: -1px;
	padding: 0px 10px;
}

ul.form li {
	background-color: #EEEEEE;
	border: 1px solid #999999;
	color: #222222;
	display: block;
	font-size: 17px;
	margin-bottom: -1px;
	padding: 12px 10px;
	text-decoration: none;	
}

ul.form li input[type=text] {
	overflow: hidden;
	padding: 0 4px;
}

ul.form li textarea {
	font-family: 'Segoe UI', Tahoma, Helvetica;
	font-size: 17px;
	overflow: auto;
	resize: none;
}

ul.form li input[type=text], ul.form li textarea {
	background-color: #EEEEEE;
	border: solid 0px #E5E5E5;
	width: 100%;
}

input {
	font-family: 'Segoe UI', Tahoma, Helvetica;
	font-size: 17px;
}

ul.form li input[type=checkbox], ul.form li input[type=radio] {
	float: left;
	overflow: hidden;
}

ul.form li > select {
	font-size: 17px;
	margin: 0;
}

label {
	display: block;
	overflow: ellipsis;
}

ul.form li:last-child {
	-webkit-border-bottom-left-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;	
}

#back, #cancel, #submit {
	-webkit-border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
	-webkit-border-bottom-left-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
	border: solid 2px #000000;	
	display: block;
	font-size: 17px;
	margin: 10px;
	padding: 12px 10px;
	text-align: center;
}

div#submit, div#back {
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(40%,#dedede), color-stop(100%,#b6b6b6));
}

div#submit:hover, div#back:hover {
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c8c8c8), color-stop(40%,#b1b1b1), color-stop(100%,#919191));
}

div#cancel {
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff2f2b), color-stop(50%,#ff4f4f), color-stop(51%,#ff0307), color-stop(71%,#ff090d), color-stop(100%,#ff0f1b));
	color: #FFFFFF;
}

div#cancel:hover {
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c70a07), color-stop(50%,#d41212), color-stop(51%,#ac0609), color-stop(71%,#ab0b0e), color-stop(100%,#a7131a));
}


/*
 * Table CSS (Awards, Events)
 */

table {
	empty-cells: hide;
	border-collapse: collapse;
}

table div.name, table div.description, table div.time {
	padding: 0 10px;
}

table div.name, table div.name {
	font-weight: bold;
}

table div.description {
	font-size: .8em;
}

table span.time {
	color: #222222;	
	font-size: .6em;
	font-style: italic;	
	padding: 0 10px;	
}


/*
 * User Messages and Errors
 */

ul.message li {
	border: 1px solid #999999;
	color: #222222;
	display: block;
	font-size: 17px;
	margin: 0;
	padding: 0;
	margin-bottom:-1px;
}

ul.message li:first-child {
	-webkit-border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
	margin-bottom:-1px;
}

ul.message li:last-child {
	-webkit-border-bottom-left-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
}

ul.message li a {
	background: url(../img/chevron.png) right center no-repeat;
	/*padding: 12px 10px;*/
	text-decoration: none;
	color: #222222;
	display: block;
	margin: 0;
	padding: 0;	
}

ul.message li.error {
	background-color: #FF9900;
	padding: 12px 10px;;
	color: #000000;
}

ul.message li.message {
	background: #FFFF00;
	padding: 12px 10px;
	color: #000000;
}

ul.message li.success {
	background: #00CC00;
	padding: 12px 10px;
	color: #000000;
}
