body {
	font-family: 'Segoe UI', Tahoma, Helvetica;
	font-size: 14px;
	margin: 0;
	padding: 0;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.fb-login-button {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

ul {
	list-style: none;
	margin: 10px;
	padding: 0;
}

ul li:first-child a {
	-webkit-border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
}

ul li:last-child a {
	-webkit-border-bottom-left-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
}

ul li a {
	border: 1px solid #999999;
	color: #222222;
	display: block;
	font-size: 17px;
	font-style: bold;
	margin-bottom: -1px;
	padding: 12px 10px;
	text-decoration: none;
}

ul li .arrow {
	background-image: url(../img/chevron.png);
	background-position: right center;
	background-repeat: no-repeat;
	display: block;
}

ul li a:hover {
	background-color: #0000FF;
	color: #FFFFFF;
}
