body {
	/*background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #DBFFFF), color-stop(1, #00A3EF));*/
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d60000), color-stop(50%,#b20b00), color-stop(100%,#770000));
	font-family: 'Segoe UI', Tahoma, Helvetica;
	font-size: 14px;
	margin: 0;
	padding: 0;
}

/* 
 * Header Title CSS
 */

#header {
	display: block;
	height: 44px;
	padding: 10px 10px;
}

#header img#logo {
	float: left;
}

#header img#fbPicture {
	float: right;
}

#clear {
	clear: both;
}

h2 {
	margin: 10px;
	text-align: left;
}

/*
 * User Messages
 */

ul.message li:first-child {
	-webkit-border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
}

ul.message li:last-child {
	-webkit-border-bottom-left-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
}

ul.message li {
	background-color: #EEEEEE;
	border: 1px solid #999999;
	color: #222222;
	display: block;
	font-size: 17px;
	margin-bottom: -1px;
	padding: 12px 10px;
	text-decoration: none;
}

ul li.error {
	background:#FF9900;
	color:#000000;
}

ul li.error strong {
	color: #FF0000;
	font-weight: bold;
}

ul li.message {
	background:#FFFF00;
	color:#000000;
}

ul li.message strong {
	color:#000000;
	font-weight: bold;
}

ul li.success {
	background:#00CC00;
	color:#000000;
}

ul li.success strong {
	color:#000000;
	font-weight: bold;
}


/* 
 * Basic Button CSS
 */

ul, ul.form {
	list-style: none;
	margin: 10px;
	padding: 0;
}

ul li#connect a, ul li.head {
	-webkit-border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
}

ul li.head {
	background-color: #000000;
	border: 1px solid #999999;
	color: white;
	display: block;
	margin-bottom: -1px;
	padding: 0px 10px;
}

ul li:last-child, ul li:last-child a, ul li div:last-child {
	-webkit-border-bottom-left-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
}

ul li a {
	background: url(../img/chevron.png) right center no-repeat;
	background-color: #EEEEEE;
	border: 1px solid #999999;
	color: #222222;
	display: block;
	font-size: 17px;
	margin-bottom: -1px;
	padding: 12px 10px;
	text-decoration: none;
}

ul li a:hover {
	background-color: #CCCCCC;
	color: #000000;
}


/* 
 * Form CSS 
 */

form ul li {
	background-color: #EEEEEE;
	border: 1px solid #999999;
	color: #222222;
	display: block;
	font-size: 17px;
	margin-bottom: -1px;
	padding: 10px 10px;
	text-decoration: none;
}

form ul li input[type=text] {
	background-color: #EEEEEE;
	border: solid 0px #E5E5E5;
	font-family: 'Segoe UI', Tahoma, Helvetica;
	font-size: 17px;
	overflow: hidden;
	padding: 0;
	width: 100%;
}

form ul li textarea {
	background-color: #EEEEEE;
	border: solid 0px #E5E5E5;
	font-family: 'Segoe UI', Tahoma, Helvetica;
	font-size: 17px;
	overflow: auto;
	padding: 0;
	resize: none;
	width: 100%;
}

form ul li input[type=checkbox], form ul li input[type=radio] {
	display: block;
	font-family: 'Segoe UI', Tahoma, Helvetica;
	font-size: 17px;
	float: left;
	overflow: hidden;
}

form ul li > select {
	font-size: 17px;
	margin: 0;
}

label {
	display: block;
	overflow: ellipsis;
}

form div, div#back {
	-webkit-border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
	-webkit-border-bottom-left-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
	border: solid 2px #000000;
	display: block;
	font-family: 'Segoe UI', Tahoma, Helvetica;
	font-size: 17px;
	margin: 10px;
	padding: 10px 10px;
	text-align: center;
}

form div#submit, div#back {
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(40%,#dedede), color-stop(100%,#b6b6b6));
}

form div#submit:hover, div#back:hover {
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c8c8c8), color-stop(40%,#b1b1b1), color-stop(100%,#919191));
}

form div#cancel {
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff2f2b), color-stop(50%,#ff4f4f), color-stop(51%,#ff0307), color-stop(71%,#ff090d), color-stop(100%,#ff0f1b));
	color: #FFFFFF;
}

form div#cancel:hover {
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c70a07), color-stop(50%,#d41212), color-stop(51%,#ac0609), color-stop(71%,#ab0b0e), color-stop(100%,#a7131a));
}


/*
 * Awards CSS
 */
 
ul li div.award {
	background-color: #EEEEEE;
	border: 1px solid #999999;
	color: #222222;
	display: block;
	font-size: 17px;
	margin-bottom: -1px;
	padding: 0 10px;
	text-decoration: none;
}

ul li div.award table {
	empty-cells: hide;
	border-collapse: collapse;
}

ul li div.award img {
	vertical-align: middle;
}

ul li div.award div.name {
	font-weight: bold;
	padding: 0 10px;	
}

ul li div.award div.description {
	font-size: .8em;
	padding: 0 10px;	
}

ul li div.award div.time {
	color: #222222;	
	font-size: .6em;
	font-style: italic;	
	padding: 0 10px;	
}