body {
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #DBFFFF), color-stop(1, #00A3EF));
	font-family: 'Segoe UI', Tahoma, Helvetica;
	font-size: 14px;
	margin: 0;
	padding: 0;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.fb-login-button {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* Header Title CSS */

h1 {
	margin: 10px;
	text-align: center;
}

/* Basic Button CSS */

ul {
	list-style: none;
	margin: 10px;
	padding: 0;
}

ul li:first-child a {
	-webkit-border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
	background-color: blue;
	border: 1px solid #999999;
	color: white;
	display: block;
	margin-bottom: -1px;
	text-align: center;
}

ul li:last-child a {
	-webkit-border-bottom-left-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
}

ul li a.link {
	background: url(../img/chevron.png) right center no-repeat;
	background-color: #FFFFFF;
	border: 1px solid #999999;
	color: #222222;
	display: block;
	font-size: 17px;
	margin-bottom: -1px;
	padding: 12px 10px;
	text-decoration: none;
}

ul li a.link:hover {
	background-color: #0000FF;
	color: #FFFFFF;
}

/* Form CSS */

form ul li input[type=text] {
	border: solid 0px #E5E5E5;
	font-family: 'Segoe UI', Tahoma, Helvetica;
	font-size: 17px;
	overflow: hidden;
	width: 100%;
}

form ul li input[type=checkbox] {
	font-family: 'Segoe UI', Tahoma, Helvetica;
	font-size: 17px;
	overflow: hidden;
}

form ul li div {
	background-color: #FFFFFF;
	border: 1px solid #999999;
	color: #222222;
	font-size: 17px;
	margin-bottom: -1px;
	padding: 10px 10px;
	text-decoration: none;
}

form ul li textarea {
	border: solid 0px #E5E5E5;
	font-family: 'Segoe UI', Tahoma, Helvetica;
	font-size: 17px;
	overflow: auto;
	padding: 0;
	resize: none;
	width: 100%;
}

form ul li > select {
	font-size: 17px;
}

form ul li:first-child {
	-webkit-border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
	background-color: blue;
	border: 1px solid #999999;
	color: white;
	display: block;
	margin-bottom: -1px;
	text-align: center;
}

form ul li:last-child {
	-webkit-border-bottom-left-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
}

form ul li.info {
	background-color: #FFFFFF;
	border: 1px solid #999999;
	color: #222222;
	display: block;
	font-size: 17px;
	margin-bottom: -1px;
	padding: 10px 10px;
	text-decoration: none;
}